@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
:root {
     --white: #fff;
     --black: #171717;
     --background-color: #1c1c1e;
     --light-white: #999;
     --box-shadow: 0px 0.5rem 1rem #000;
     --border: 0.1rem solid rgba(255,255,255,0.1);
     --gradient: linear-gradient(65deg,deeppink,coral);
}
* {
     font-family: 'Montserrat',sans-serif;
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
     text-decoration: none;
     text-transform: capitalize;
     border: none;
     outline: none;
}
*::selection {
     background-color: var(--white);
     color: var(--black);
}
html {
     font-size: 62.5%;
     scroll-behavior: smooth;
     scroll-padding-top: 9rem;
     overflow-x: hidden;
}
::-webkit-scrollbar {
     width: 1rem;
}
::-webkit-scrollbar-thumb {
     background-color: var(--white);
}
::-webkit-scrollbar-track {
     background-color: transparent;
}
body {
     background-color: var(--black);
     padding-bottom: 8rem;
}
.header {
     position: sticky;
     top: 0px;
     left: 0px;
     right: 0px;
     background-color: var(--background-color);
     border-bottom: var(--border);
     box-shadow: var(--box-shadow);
     z-index: 1000;
}
.header .flex {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2rem;
}
.header .flex .logo {
     font-size: 2.5rem;
     color: var(--white);
}
.header .flex .logo .fas {
     margin-right: 0.5rem;
     color: coral;
}
.header .flex .button {
     margin-top: 0px;
}
section {
     padding: 3rem 2rem;
     max-width: 1200px;
     margin: 0px auto;
}
.button {
     display: inline-block;
     margin-top: 1rem;
     padding: 1rem 3rem;
     cursor: pointer;
     font-size: 1.8rem;
     background: var(--gradient);
     color: var(--white);
     border-radius: 5rem;
     transition: 0.2s linear;
}
.button:hover {
     background-color: var(--white);
     color: var(--black);
}
.navbar {
     position: fixed;
     left: 0rem;
     right: 0rem;
     bottom: 2rem;
     display: flex;
     justify-content: center;
     z-index: 1000;
}
.navbar .nav {
     background-color: var(--black);
     padding: 1rem;
     border: var(--border);
     border-radius: 0.5rem;
     box-shadow: var(--box-shadow);
     display: flex;
     align-items: center;
     justify-content: space-around;
     gap: 1rem;
     text-align: center;
}
.navbar .nav a {
     font-size: 1.7rem;
     padding: 1rem 2rem;
     border-radius: 0.5rem;
     transition: 0.2s linear;
     color: var(--white);
}
.navbar .nav a:hover {
     background: var(--gradient);
}
.navbar .nav a .fas {
     display: none;
}
.home .flex {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 2rem;
}
.home .flex .content {
     flex: 1 1 50rem;
}
.home .flex .content h3 {
     font-size: 4rem;
     color: var(--white);
     text-transform: uppercase;
     margin-bottom: 0.5rem;
}
.home .flex .content p {
     line-height: 1.8;
     padding: 1rem 0rem;
     font-size: 1.6rem;
     color: var(--light-white);
}
.home .flex .image {
     flex: 1 1 30rem;
     position: relative;
     overflow: hidden;
}
.home .flex .image::before {
     content: "";
     position: absolute;
     top: 0rem;
     left: 0rem;
     width: 5rem;
     height: 30rem;
     background: var(--gradient);
     animation: animate1 4s cubic-bezier(0.29,1,0.26,1.12) infinite;
}
.home .flex .image::after {
     content: "";
     position: absolute;
     right: 0rem;
     bottom: 0rem;
     width: 5rem;
     height: 30rem;
     background: var(--gradient);
     animation: animate2 4s cubic-bezier(0.29,1,0.26,1.12) infinite;
}
@keyframes animate1 {
     0%,100% {transform: translateY(0%);}
     50% {transform: translateY(100%);}
}
@keyframes animate2 {
     0%,100% {transform: translateY(0%);}
     50% {transform: translateY(-100%);}
}
.home .flex .image img {
     width: 100%;
}
.services .box-container {
     display: grid;
     grid-template-columns: repeat(auto-fit,35rem);
     align-items: flex-start;
     justify-content: center;
     gap: 1.5rem;
}
.services .box-container .box {
     text-align: center;
     padding: 2.5rem 2rem;
     background-color: var(--black);
}
.services .box-container .box .fas {
     font-size: 3.5rem;
     background: var(--gradient);
     background-clip: text;
     color: transparent;
     margin-bottom: 1rem;
}
.services .box-container .box h3 {
     font-size: 2rem;
     margin: 0.5rem 0rem;
     color: var(--white);
}
.services .box-container .box p {
     line-height: 1.8;
     font-size: 1.4rem;
     color: var(--light-white);
     padding: 0.5rem 0rem;
}
.about {
     background-color: var(--black);
}
.about .flex {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 2rem;
}
.about .flex .content {
     flex: 1 1 40rem;
}
.about .flex .content h3 {
     font-size: 3rem;
     color: var(--white);
     margin-bottom: 0.5rem;
}
.about .flex .content p {
     font-size: 1.6rem;
     color: var(--light-white);
     padding: 1rem 0rem;
     line-height: 1.8;
}
.about .flex .image {
     flex: 1 1 40rem;
}
.about .flex .image img {
     width: 100%;
     height: 50rem;
     object-fit: contain;
}
.reviews .flex {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 2rem;
}
.reviews .flex .content {
     flex: 1 1 40rem;
}
.reviews .flex .content h3 {
     font-size: 3rem;
     color: var(--white);
     margin-bottom: 0.5rem;
}
.reviews .flex .content p {
     line-height: 1.8;
     font-size: 1.6rem;
     color: var(--light-white);
     padding: 1rem 0rem;
}
.reviews .flex .content .controls {
     margin-top: 0.5rem;
     display: flex;
     gap: 1rem;
}
.reviews .flex .content .controls .fas {
     width: 5rem;
     height: 5rem;
     line-height: 4.9rem;
     font-size: 2.5rem;
     background-color: var(--black);
     color: var(--white);
     text-align: center;
     cursor: pointer;
}
.reviews .flex .content .controls .fas:hover {
     background: var(--gradient);
}
.reviews .flex .slides-container {
     flex: 1 1 40rem;
     perspective: 1000px;
}
.reviews .flex .slides-container .slide {
     background-color: var(--background-color);
     padding: 2rem 2.5rem;
     transform-style: preserve-3d;
     animation: slide 0.2s linear;
     display: none;
}
@keyframes slide {
     0% {transform: rotateX(180deg);}
}
.reviews .flex .slides-container .slide.active {
     display: block;
}
.reviews .flex .slides-container .slide * {
     animation: slideContent 0.2s linear 0.2s backwards;
}
@keyframes slideContent {
     0% {
          opacity: 0;
          transform: scale(0.9);
     }
}
.reviews .flex .slides-container .slide .text {
     font-size: 1.6rem;
     color: var(--light-white);
     line-height: 1.8;
}
.reviews .flex .slides-container .slide .user {
     margin-top: 1.5rem;
     display: flex;
     align-items: center;
     gap: 1.5rem;
     padding-top: 1.5rem;
     border-top: var(--border);
}
.reviews .flex .slides-container .slide .user img {
     width: 7rem;
     height: 7rem;
     border-radius: 50%;
     object-fit: cover;
}
.reviews .flex .slides-container .slide .user h3 {
     font-size: 2rem;
     color: var(--white);
}
.reviews .flex .slides-container .slide .user .stars {
     margin-top: 0.5rem;
}
.reviews .flex .slides-container .slide .user .stars .fas {
     font-size: 1.5rem;
     color: coral;
}
.reviews .flex .slides-container .slide .user .fa-quote-right {
     font-size: 5rem;
     background: var(--gradient);
     background-clip: text;
     color: transparent;
     margin-left: auto;
}
.download {
     background-color: var(--black);
}
.download .flex {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 2rem;
}
.download .flex .image {
     flex: 1 1 40rem;
}
.download .flex .image img {
     width: 100%;
     height: 50rem;
     object-fit: contain;
}
.download .flex .content {
     flex: 1 1 40rem;
}
.download .flex .content h3 {
     font-size: 3rem;
     color: var(--white);
     margin-bottom: 0.5rem;
}
.download .flex .content p {
     line-height: 1.8;
     font-size: 1.6rem;
     color: var(--white);
     padding: 0.5rem 0rem;
}
.download .flex .content .links {
     display: flex;
     flex-wrap: wrap;
     gap: 1rem;
     margin-top: 1rem;
}
.download .flex .content .links a {
     padding: 1rem 2rem;
     font-size: 1.8rem;
     border-radius: 0.5rem;
}
.download .flex .content .links a:first-child {
     background-color: var(--white);
     color: var(--black);
}
.download .flex .content .links a:first-child:hover {
     background: var(--gradient);
     color: var(--white);
}
.download .flex .content .links a:last-child {
     background-color: var(--background-color);
     color: var(--white);
     border: var(--border);
}
.download .flex .content .links a:last-child:hover {
     background: var(--gradient);
     border-color: transparent;
}
.download .flex .content .links a .fab {
     margin-right: 0.5rem;
}
.pricing .toggle-buttons {
     display: flex;
     justify-content: center;
     gap: 1.5rem;
     margin-bottom: 3rem;
}
.pricing .toggle-buttons .button {
     padding: 1rem;
     width: 15rem;
     font-size: 1.8rem;
     background-color: var(--background-color);
     color: var(--white);
     border-radius: 0.5rem;
     text-align: center;
     cursor: pointer;
}
.pricing .toggle-buttons .button.active,.pricing .toggle-buttons .button:hover {
     background: var(--gradient);
}
.pricing .box-container {
     display: grid;
     grid-template-columns: repeat(auto-fit,30rem);
     align-items: flex-start;
     justify-content: center;
     gap: 2rem;
}
.pricing .box-container .box {
     padding: 2rem 2.5rem;
     background-color: var(--background-color);
     border-radius: 0.5rem;
}
.pricing .box-container .box h3 {
     font-size: 1.8rem;
     color: var(--white);
     margin-bottom: 0.5rem;
}
.pricing .box-container .box .price {
     animation: price 0.2s linear;
     transform-origin: top;
}
@keyframes price {
     0% {
          opacity: 0.5;
          transform: scaleY(0.5);
     }
}
.pricing .box-container .box .price.year {
     display: none;
}
.pricing .box-container .box .price span:first-child {
     color: coral;
     font-size: 2.5rem;
}
.pricing .box-container .box .price span:last-child {
     color: var(--light-white);
     font-size: 1.5rem;
}
.pricing .box-container .box .list {
     margin-top: 1.5rem;
     border-top: var(--border);
     padding-top: 1rem;
}
.pricing .box-container .box .list p {
     padding: 1rem 0rem;
     font-size: 1.6rem;
}
.pricing .box-container .box .list p .fas {
     margin-right: 1rem;
}
.pricing .box-container .box .list p .fa-circle-check {
     color: limegreen;
}
.pricing .box-container .box .list p .fa-circle-xmark {
     color: tomato;
}
.pricing .box-container .box .list p span {
     color: var(--light-white);
}
.pricing .box-container .box .button {
     width: 100%;
     text-align: center;
     border-radius: 0.5rem;
}
.pricing .box-container .box:nth-child(2) {
     border: var(--border);
     box-shadow: var(--box-shadow);
}
.newsletter {
     background-color: var(--black);
}
.newsletter .news {
     text-align: center;
}
.newsletter .news h3 {
     font-size: 3rem;
     color: var(--white);
     text-transform: uppercase;
}
.newsletter .news p {
     line-height: 1.8;
     font-size: 1.6rem;
     color: var(--light-white);
     margin: 1rem auto;
     padding: 1rem 0rem;
     max-width: 50rem;
}
.newsletter .news form {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 1.5rem;
     margin-top: 1.5rem;
}
.newsletter .news form .input {
     border-radius: 0.5rem;
     padding: 1.2rem 1.5rem;
     font-size: 1.8rem;
     border: var(--border);
     background-color: var(--black);
     color: var(--white);
     width: 30rem;
     text-transform: none;
}
.newsletter .news form .input::placeholder {
     text-transform: capitalize;
}
.newsletter .news form .input:focus {
     box-shadow: var(--box-shadow);
}
.newsletter .news form .button {
     margin-top: 0px;
}
.brands {
     overflow: hidden;
     display: flex;
     gap: 10rem;
}
.brands .brands-container {
     display: flex;
     gap: 10rem;
     animation: brands 10s linear infinite;
}
@keyframes brands {
     0% {transform: translateX(0%);}
     0% {transform: translateX(-100%);}
}
.brands:hover .brands-container {
     animation-play-state: paused;
}
.brands .brands-container img {
     width: 10rem;
     height: 5rem;
}
.footer .box-container {
     display: grid;
     grid-template-columns: repeat(auto-fit,27rem);
     align-items: flex-start;
     justify-content: center;
     gap: 2rem;
}
.footer .box-container .box h3 {
     font-size: 2rem;
     color: var(--white);
     margin-bottom: 1rem;
}
.footer .box-container .box a {
     font-size: 1.6rem;
     color: var(--light-white);
     display: block;
     padding: 1rem 0rem;
}
.footer .box-container .box a:hover {
     color: var(--white);
}
.footer .box-container .box a i {
     color: coral;
     margin-right: 0.5rem;
}
.footer .credit {
     padding: 3rem 2rem;
     border-top: var(--border);
     text-align: center;
     font-size: 2rem;
     color: var(--light-white);
}
.footer .credit span {
     color: transparent;
     background: var(--gradient);
     background-clip: text;
}
@media only screen and (max-width:991px){
     html {
          font-size: 55%;
     }
}
@media only screen and (max-width:768px){
     body {
          padding-bottom: 7rem;
     }
     .navbar {
          bottom: 0px;
     }
     .navbar .nav {
          border-left: 0px;
          border-right: 0px;
          border-bottom: 0px;
          border-radius: 0px;
          box-shadow: none;
          padding: 0.5rem;
          width: 100%;
     }
     .navbar .nav a {
          padding: 0.5rem 1rem;
     }
     .navbar .nav a:hover {
          background: none;
     }
     .navbar .nav a span {
          font-size: 1.5rem;
     }
     .navbar .nav a:hover span {
          color: coral;
     }
     .navbar .nav a .fas {
          display: block;
          font-size: 2.5rem;
          margin-bottom: 0.5rem;
     }
     .home .flex .content h3 {
          font-size: 2.5rem;
     }
}
@media only screen and (max-width:450px){
     html {
          font-size: 50%;
     }
     .services .box-container .box h3 {
          font-size: 2.5rem;
     }
     .services .box-container .box p {
          font-size: 2rem;
     }
     .reviews .flex .content h3 {
          font-size: 2.5rem;
     }
     .download .flex .content h3 {
          font-size: 2.5rem;
     }
     .download .flex .content .links a {
          width: 100%;
          text-align: center;
     }
     .newsletter .news form .input {
          width: 100%;
     }
}